configMap:
  infraOrder: configmap-infra-order
  infraInventory: configmap-infra-inventory
  infraNotification: configmap-infra-notification
  configServer: configmap-config-server
  eurekaServer: configmap-eureka-server
  gatewayServer: configmap-gateway-server

secret:
  infraOrder: secret-infra-order

namespace: order-dev



pods:
  infraOrder:
    port: 8787
    hostIngress: order-dev.example
    image: localhost:5000/infra_order:latest
    imagePullPolicy: Always
  infraInventory:
    port: 8888
    hostIngress: inventory-dev.example
    image: localhost:5000/infra_inventory:latest
    imagePullPolicy: Always
  infraNotification:
    port: 9090
    hostIngress: notification-dev.example
    image: localhost:5000/infra_notification:latest
    imagePullPolicy: Always
  configServer:
    port: 9101
    image: localhost:5000/config-server:latest
    imagePullPolicy: Always
  eurekaServer:
    port: 9102
    image: localhost:5000/eureka-server:latest
    imagePullPolicy: Always
  gatewayServer:
    port: 9103
    image: localhost:5000/gateway-server:latest
    imagePullPolicy: Always

