<div class="header-container">
    <h2>Liste des items</h2>
    <button mat-raised-button color="primary" (click)="createDetails()">Nouvel item</button>
</div>

<table mat-table [dataSource]="item$" class="mat-elevation-z8">

    <ng-container matColumnDef="itemNumber">
        <th mat-header-cell *matHeaderCellDef> Numéro item </th>
        <td mat-cell *matCellDef="let item"> {{item.itemNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="itemDate">
        <th mat-header-cell *matHeaderCellDef> Date item </th>
        <td mat-cell *matCellDef="let item"> {{item.itemDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="customerId">
        <th mat-header-cell *matHeaderCellDef> Client </th>
        <td mat-cell *matCellDef="let item"> {{item.firstName}} {{item.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let item">
            <button mat-icon-button (click)="viewDetails(item)">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteItem(item)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
