# spring-app.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: infra-order
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: infra-order
  template:
    metadata:
      labels:
        app: infra-order
    spec:
      containers:
        - name: infra-order
          image: {{ .Values.pods.infraOrder.image  }}
          imagePullPolicy: {{ .Values.pods.infraOrder.imagePullPolicy  }}
          ports:
            - containerPort: {{ .Values.pods.infraOrder.port  }}
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          env:
            - name: SPRING_PROFILES_ACTIVE
              valueFrom:
                configMapKeyRef:
                  name: {{.Values.configMap.infraOrder}}
                  key: SPRING_PROFILES_ACTIVE
            - name: KAFKA_BROKERS
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.configMap.infraOrder }}
                  key: KAFKA_BROKERS
            - name: BD_ORACLE_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.configMap.infraOrder }}
                  key: BD_ORACLE_HOST
            - name: BD_ORACLE_USER
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.configMap.infraOrder }}
                  key: APP_USER
            - name: BD_ORACLE_USER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.secret.infraOrder }}
                  key: APP_USER_PASSWORD
            - name: CONFIG_SERVER_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.configMap.infraOrder }}
                  key: CONFIG_SERVER_URL
            - name: EUREKA_SERVER_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.configMap.infraOrder }}
                  key: EUREKA_SERVER_URL

