.side-panel {
  width: 45%;
  max-width: 45vw; /* 45% de la largeur de l'écran */
  min-width: 20em; /* Largeur minimale pour les écrans plus grands */
  padding: 16px;
  box-sizing: border-box;
  overflow: auto;
  transition: width 0.3s ease;

  /* Media query pour les écrans de moins de 768px */
  @media (max-width: 768px) {
    width: 100%;
    max-width: 100vw;
  }
}

.close-button-container {
  position: absolute;
  top: 8px;
  right: 8px;
}

.main-toolbar {
  margin-bottom: 16px;
}

.content-wrapper {
  padding: 16px;
}
