<mat-sidenav-container class="sidenav-container">

  <!-- 🔹 Panneau latéral -->
  <mat-sidenav #sidePanel mode="side" position="end"  class="side-panel" [fixedInViewport]="true">
    <!-- Conteneur pour le composant dynamique -->
    <ng-container #dynamicHost></ng-container>
  </mat-sidenav>

  <!-- 🔹 Contenu principal -->
  <mat-sidenav-content>

    <!-- En-tête -->
    <mat-toolbar color="primary" class="main-toolbar">
      <span>Gestion des commandes</span>
    </mat-toolbar>


    <!-- Contenu avec marge -->
    <div class="content-wrapper">
      <mat-card>
        <mat-card-content>
          <app-table-filter (criteriaChange)="onCriteriaReceived($event)"></app-table-filter>
          <mat-divider></mat-divider>
          <app-table-display></app-table-display>
          <app-table-pagination (pageChange)="onPageReceived($event)"></app-table-pagination>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>


