# spring-app.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server
  namespace: order-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      containers:
        - name: eureka-server
          image: roudane/eureka-server:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 9102
          env:
            - name: CONFIG_SERVER_URL
              valueFrom:
                configMapKeyRef:
                  name: configmap-eureka-server
                  key: CONFIG_SERVER_URL

