spring:
  cloud:
    compatibility-verifier:
      enabled: false
    config:
      server:
        git:
          uri: https://github.com/roudane2021/order-config-server.git
          default-label: main
  application:
    name: config-server

server:
  port: 9101

